html, body
    box-sizing border-box
    font-size 16px
    background-color white
    height: 3185px
    box-sizing: border-box
    font-family: 'trench', sans-serif
    +below(1024px)
        height: 2265px
    +below(768px)
        height: 1699px
    +below(480px)
        height: 1360px
    +below(320px)
        height: 897px
*, *:before, *:after
    box-sizing inherit

*:focus
    outline 0
