@font-face {
    font-family: "ProximaNova Semibold";
    src: url("/fonts/ProximaNova-Sbold.otf") format("opentype");
}

@font-face {
    font-family: "ProximaNova Bold";
    src: url("/fonts/ProximaNova-Bold.otf") format("opentype");
}


font-bold = "ProximaNova Semibold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
font-normal = "Montserrat Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
