extends ./layout.jade

block content
    #home
        section.section-top
            .slogan-container
                h1.slogan.mobile A Happy Life with a Wochi on your Wrist
            .download-container-top
                a(href="https://itunes.apple.com/us/app/wochi-wo-chi-my-funny-digital/id1008051801", target="_blank")
                    img.download-button(src='../img/common/download_button.png')
        section.section-dress
            .costume-container
                h1.header-text Dress me >3<
                img.costume(src="../img/costumes/optimized/Pikachu.jpg")
                img.costume.last-mobile(src="../img/costumes/optimized/Wochiman.jpg")
                img.costume.mobile(src="../img/costumes/optimized/Gintoki.jpg")
                img.costume.mobile(src="../img/costumes/optimized/Moon.jpg")
        section.section-feed
            .food-container
                h1.header-text >_< Feed me
                img.food(src="../img/food/ramen.png")
                img.food(src="../img/food/lollipop.png")
                img.food.last-mobile(src="../img/food/mochi.png")
                img.food.mobile(src="../img/food/banana.png")
                img.food.mobile(src="../img/food/pizza.png")
        section.section-app
            .app-container
                img.phone(src="../img/common/iphone.png")
                img.watch(src="../img/common/watch.png")
        section.section-download
            .download-container-bottom
                a(href="https://itunes.apple.com/us/app/wochi-wo-chi-my-funny-digital/id1008051801", target="_blank")
                    img.download-button(src='../img/common/download_button.png')
        footer
            h4.header-text.header-text-bottom
                | Made with <3
                br
                | by&nbsp;
                a(href="http://dairyfreegames.com/", target="_blank") Dairy Free Games
                | ,&nbsp;
                a(href="http://www.diweishou.com/", target="_blank") Diwei
                | , and&nbsp;
                a(href="http://inomma.com/", target="_blank") Inomma