extends ./layout.jade

block content
    #home
        section.section-top
            .download-container
                a(href="#", target="_blank")
                    img.download-button(src='../img/download_button.png')
        section.section-dress
            h2.header-text Dress me <3
        section.section-feed
            h2.header-text >_< Feed me
        section.section-app
        section.section-download
            h2.header-text Made with <3 by Diwei and Dairy Free Games